[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
tox-pipenv = "*"
codecov = "*"

[packages]
jsonschema = "*"
strict-rfc3339 = "*"
rfc3987 = "*"
webcolors = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
