[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = {git = "https://github.com/ambv/black"}
pytest = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
tox-pipenv = "*"
codecov = "*"
bumpversion = "*"

[packages]
fastjsonschema = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
